{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="text_register">상세페이지</div>
    <div class="box_out">
      <h2>
        <label>제목:</label>
        <input type="text" />
      </h2>
      <br />
      <fieldset class="fieldset_group">
        <p>
          <label>그룹명 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집기간 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집인원 </label>
          <input type="text" />
        </p>
        <p>
          <label>지원링크 </label>
          <input type="text" />
        </p>

        <p>
          <input class="button" type="button" value="동아리" />
          <input class="button" type="button" value="IT" />
          <input class="button" type="button" value="화목" />
          <input class="button" type="button" value="열정적" />
        </p>
      </fieldset>
      <br />
      <br />
      <fieldset class="fieldset_text">
        <p>
          <label>Text </label>
          <input type="text" />
        </p>
      </fieldset>
    </div>
  </body>
{% endblock %}
