<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>등록하기</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar_logo">
        <a href="">LOGO</a>
      </div>
      <ul class="navbar_menu">
        <li><a href="#">그룹전체/보기</a></li>
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
      </ul>
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-hamburger"></i>
      </a>
    </nav>
    <div class="text_register">상세페이지</div>
    <div class="box_out">
      <h2>
        <label>제목:</label>
        <input type="text" />
      </h2>
      <br />
      <fieldset class="fieldset_group">
        <p>
          <label>그룹명 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집기간 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집인원 </label>
          <input type="text" />
        </p>
        <p>
          <label>지원링크 </label>
          <input type="text" />
        </p>

        <p>
          <input class="button" type="button" value="동아리" />
          <input class="button" type="button" value="IT" />
          <input class="button" type="button" value="화목" />
          <input class="button" type="button" value="열정적" />
        </p>
      </fieldset>
      <br />
      <br />
      <fieldset class="fieldset_text">
        <p>
          <label>Text </label>
          <input type="text" />
        </p>
      </fieldset>
    </div>
  </body>
</html>
