{% extends 'base.html' %}

{% block content %}
<main>
  <div class="filter_container">
    <h2>검색</h2>
    <form action="post">
      <select name="group_categories">
        <option value="">그룹 종류</option>
      </select>
      <select name="fields">
        <option value="">분야</option>
      </select>
      <select name="vibes">
        <option value="">분위기</option>
      </select>
      <select name="deadline">
        <option value="">마감 여부</option>
      </select>
    </form>
    <div class="btn_container">
      <div class="btn_search">검색</div>
    </div>
  </div>
  <div class="group_list">
    <nav class="group_menubar">
      <ul>
        <li><a>전체</a></li>
        <li><a>동아리</a></li>
        <li><a>스터디</a></li>
        <li><a>학회</a></li>
        <li><a>기타 모임</a></li>
      </ul>
    </nav>
    <div class="group_gallary">
      {% for group in groups %}
      <div class="group">
        <img src="{{group.logo.url}}" alt="" class="group_img">
        <h3 class="group_name"><a href="{% url 'groups:detail' group.pk %}">{{group.name}}</a></h3>
        <div class="group_info"><span class="group_infobox">{{group.group_type}}</span><span class="group_infobox">{{group.field}}</span></div>
        <div class="group_info group_vibe">
          <span class="group_infobox">{{group.natures}}</span>
        </div>
        <div class="group_info group_introduce">{{group.short_introduce}}</div>
        <div class="group_info">모집인원: {{group.recruitment_count}}</div>
        
        <div class="group_info recruitment_status">모집마감기한: {{group.deadline}}</div>
        
      </div>
      {% endfor %}
    </div>
    
    
  </div>
</main>
{%endblock%}