<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="logo_container">LOGO</div>
    <nav class="menu_container">
      <ul>
        <li><a>그룹검색/보기</a></li>
        <li class="login"><a>로그인</a></li>
        <li><a>회원가입</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="filter_container">
      <h2>검색</h2>
      <form action="post">
        <select name="group_categories">
          <option value="">그룹 종류</option>
        </select>
        <select name="fields">
          <option value="">분야</option>
        </select>
        <select name="vibes">
          <option value="">분위기</option>
        </select>
        <select name="deadline">
          <option value="">마감 여부</option>
        </select>
      </form>
    </div>
    <div class="group_list">
      <nav class="group_menubar">
        <ul>
          <li><a>전체</a></li>
          <li><a>동아리</a></li>
          <li><a>스터디</a></li>
          <li><a>학회</a></li>
          <li><a>기타 모임</a></li>
        </ul>
      </nav>
      <table>
        <tr class="group_title">
          <th>종류</th>
          <th>그룹 명칭</th>
          <th>분야</th>
          <th>제목</th>
          <th>모집 인원</th>
          <th>마감 기한</th>
        </tr>
        <tr>
          <td>내용1</td>
          <td>내용2</td>
          <td>내용3</td>
          <td>내용3</td>
          <td>내용3</td>
          <td>내용3</td>
        </tr>
        <tr>
          <td>내용4</td>
          <td>내용5</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
        </tr>
        <tr>
          <td>내용4</td>
          <td>내용5</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
        </tr>
        <tr>
          <td>내용4</td>
          <td>내용5</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
        </tr>
        <tr>
          <td>내용4</td>
          <td>내용5</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
        </tr>
        <tr>
          <td>내용4</td>
          <td>내용5</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
          <td>내용6</td>
        </tr>
      </table>
    </div>
  </main>
</body>
</html>