{% extends 'base.html' %}

{% block content %}
  <body>
    <div class="text_register">등록하기</div>
    <div class="box_out">
      <fieldset class="fieldset_title">
        <p>
          <label>Title </label>
          <input type="text" />
        </p>
      </fieldset>
      <br />
      <fieldset class="fieldset_group">
        <p>
          <label>그룹명 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집기간 </label>
          <input type="text" />
        </p>
        <p>
          <label>모집인원 </label>
          <input type="text" />
        </p>
        <p>
          <label>지원링크 </label>
          <input type="text" />
        </p>
        <p>
          <label>그룹로고 </label>
          <input type="text" />
        </p>
      </fieldset>
      <br />
      <div>
        <h4>분야</h4>
        <p>
          <input class="button" type="button" value="동아리" />
          <input class="button" type="button" value="학회" />
          <input class="button" type="button" value="스터디" />
          <input class="button" type="button" value="복사" />
          <input class="button" type="button" value="예술" />
          <input class="button" type="button" value="어학" />
          <input class="button" type="button" value="종교" />
          <input class="button" type="button" value="IT" />
          <input class="button" type="button" value="스포츠" />
          <input class="button" type="button" value="기타" />
        </p>
      </div>
      <br />
      <div>
        <h4>성격</h4>
        <p>
          <input class="button" type="button" value="화목" />
          <input class="button" type="button" value="열정적" />
          <input class="button" type="button" value="친목" />
          <input class="button" type="button" value="자율" />
          <input class="button" type="button" value="전문적" />
        </p>
      </div>
      <fieldset class="fieldset_text">
        <p>
          <label>Text </label>
          <input type="text" />
        </p>
      </fieldset>
    </div>
  </body>
{%endblock%}